//
// ? Adding multiple entry points in uswds-core's package.json
// ? requires us to import this way **unless** we set _index.scss as the default export. This way SASS can be imported in JS.
// @use "@uswds/uswds-core" as *;

// ? After adding `.env` and SASS includePaths we can call core like this
// @use "uswds-core" as *;

// USWDS-Fonts test
@use "uswds-fonts" as * with (
  $theme-font-path: "~@uswds/uswds-fonts/src/assets/fonts"
);

// @forward "usa-accordion";
// @forward "@uswds/usa-accordion/sass";

body {
  background-color: color("violet-80v");
  color: color("white");
  @include typeset("body");
}

.container {
  @include grid-container;
}

code {
  @include typeset("mono");
}

.c-card {
  background-color: color("white");
  border-radius: units(1);
  color: color("ink");
  padding: units(2.5);
  padding-bottom: units(4);
  max-width: units("card-lg");

  button {
    background-color: color("violet-60v");
    border: none;
    border-radius: units("05");
    color: color("white");
    cursor: pointer;
    padding: units(1);

    &:hover,
    &:focus {
      background-color: color("violet-80v");
    }
  }
}
